<template name="create">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h1>Create a crawl</h1>
      <p>Point us in the right direction and we’ll set the oompa-loompas to work. Don’t worry, they get paid a ton of chocolate.</p>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Domain name
              <input type="text" placeholder="www.foobar.com" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <input type="submit" class="button secondary" value="NEVERMIND">
            <input type="submit" class="button" value="START CRAWLING!">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>