<template name="layout">
  {{> nav}}

  {{> yield}}
  {{initFoundation}}
</template>

<template name="home">
  <p></p>
  <div class="row">
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Site</th>
            <th width="10%">Status</th>
            <th width="10%">Pages Left</th>
            <th width="10%">Pages Scanned</th>
          </tr>
        </thead>
        <tbody>
          {{#each siteList}}
            {{> siteTableItem}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="siteTableItem">
  <tr>
    <td><a href="{{pathFor 'scanShow'}}">{{host}}</a></td>
    <td>{{status}}</td>
    <td class="number">{{pagesLeft}}</td>
    <td class="number">{{pagesScanned}}</td>
  </tr>
</template>

<template name="pageTableItem">
  <tr>
    <td>{{url}}</td>
    <td>{{title}}</td>
    <td>none</td>
    <td>{{cacheObject.dataFile}}</td>
    <td>{{queueItem.stateData.contentType}}</td>
    <td>{{queueItem.stateData.code}}</td>
    <td class="number">{{queueItem.stateData.actualDataSize}}</td>
  </tr>
</template>

<template name="scanShow">
  <div class="row">
    <div class="large-12 columns">
      <p>Site: {{site.host}} Pages left: {{site.pagesLeft}} Pages scanned: {{site.pagesScanned}}</p>
    </div>
  </div>

  <table width="100%">
    <thead>
      <tr>
        <th width="40%">Site</th>
        <th>Title</th>
        <th>Template</th>
        <th>Data Model</th>
        <th>Type</th>
        <th>Status</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {{#each crawledURLs}}
        {{> pageTableItem}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="styleguide">
  {{> kitchensink}}
</template>